<div class="hidden_element"  id="flash_message_popup">
  <div class="pop_up" >
    <div class="popup_inner_div">
      <div class="popup_content flash_message_content_div">
        <table width="100%" height="100%">
          <tr>
            <td align="center" valign="middle"><span class="pop_up_message"></span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
