<div class="outer_shadow">
  <div class="about_us_div">
    <span>
	Do you ever have a bunch of tabs open but want to close them out and come back to
      them all later?
    </span>
    <span>
      Do you ever want to favorite sites on the internet privately so that someone
      accessing your computer can't see them?
    </span>
    <span>
      Do you want a centralized hub for the discussion of any website or article on the
      Internet?
    </span>
    <span>
      Are you a researcher or scientist interested in discussing articles with colleagues around the world?
    </span>
    <span>
      You can do all these things here. And we don't do names because sometimes it's
      more fun to be anonymous.
    </span>


    <span>
      This site is mainly for two things:</span>
    <span>

      Tabs: Tab it! Stop emailing yourself cool articles or things you want to remember later. Instead, put it in a tab list and you can go back whenever you want, at any computer you're at. You can also add a bunch of tab URLs that you have open all at once if you download a simple browser add on (below). Once downloaded, click the new button that appears on your browser, which shows you a list of all your open tabs.
    </span>
    <span class="italic_font">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;From there, copy and paste all of the URLs into your tab list by clicking Tabs->My Tabs->selected tab list->dropdown->Add Current Tabs</span>
    <span>
      [Browser add on links]
    </span>
    <span>
      Discussions: Discuss any webpage with everyone online, instead of being constrained to discussions only on particular websites. Just
      copy and paste the URL, put it into Discuss a Web Page and join the conversation.
    </span>
  </div>
</div>










