<div class="outer_shadow">
  <div class="">
    Contact us:
    <div class="clear_both" align="center">
      <span style="display: block;width: 195px;margin-top: 50px">
        <span class="form_field_name" style="width: 70px;"> Email: </span> <a href="mailto:favtabs@gmail.com" class="contact_us_mail">favtabs@gmail.com</a>
      </span>
    </div>
  </div>
</div>










